<table st-table="initdata1" class="table table-striped">
		<tbody>
		<tr ng-repeat="data in initdata1">
			<td><span class="glyphicon glyphicon-thumbs-up" style="color:red">【好评】</span></td>
			<td>{{data.content}}</td>
			<td>买家：{{data.username}}</td>
		</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="5" class="text-center">
					<div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
				</td>
			</tr>
		</tfoot>
	</table>

<!-- <div>
	<table class="table">
		<tr ng-repeat="data in initdata1">
			<td style="    width: 15%;
    text-align: center;">
				<span class="glyphicon glyphicon-thumbs-up" style="color:red">【好评】</span>
			</td>
			<td>
				{{data.content}}
			</td>
			<td>
				买家：{{data.username}}
			</td>
		</tr>
	</table>
</div> -->
<div class="loading-div" ng-show="isLoading">
    <i class="fa fa-spinner fa-spin fa-5x"></i>
    <p>正在加载...请耐心等待</p>
</div>
