<div style="    margin-top: 60px;">
<form class="form-horizontal" role="form">
   <div class="form-group">
      <label for="firstname" class="col-sm-2 control-label">商品名称：</label>
      <div class="col-sm-4">
         <input type="text" class="form-control" id="firstname" 
            placeholder="请输入商品名称，例如：儿童座椅" ng-model="saleName">
      </div>
   </div>
   <div class="form-group">
    	<label for="lastname" class="col-sm-2 control-label">商品类别：</label>
	    <div class="col-sm-10 btn-group">
				<button type="button" class="btn btn-default ">{{!!saleType?saleType:"请选择分类"}}</button>
				<button type="button" class="btn btn-default  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    <span class="caret"></span>
				    <span class="sr-only">Toggle Dropdown</span>
				</button>
			<ul class="dropdown-menu" >
				<li><a href="#" ng-repeat="t in typeDate" ng-click="changeType(t.name,t.id)">{{t.name}}</a></li>
			</ul>
		</div>  
   </div>
   <div class="form-group">
      <label for="firstname" class="col-sm-2 control-label">价格：</label>
      <div class="col-sm-4">
         <input type="number" class="form-control" id="firstname" 
            placeholder="请输入价格，例如：99.99" ng-model="price">
      </div>
   </div>
   <div class="form-group">
      <label for="firstname" class="col-sm-2 control-label">打折：</label>
      <div class="col-sm-4">
         <input type="number" class="form-control" id="firstname" 
            placeholder="请输入打折情况，例如：8.5" ng-model="cutPrice">
      </div>
   </div>
   <div class="form-group">
      <label for="firstname" class="col-sm-2 control-label">商品数量：</label>
      <div class="col-sm-4">
         <input type="number" class="form-control" id="firstname" 
            placeholder="请输入商品数量，例如：300" ng-model="count">
      </div>
   </div>
   <div class="form-group">
      <label for="firstname" class="col-sm-2 control-label">商品描述：</label>
      <div class="col-sm-4">
         <textarea type="text" class="form-control" id="firstname" 
            placeholder="请输入商品描述" cols="30" rows="10" ng-model='descripts'></textarea>
      </div>
   </div>
   <div class="form-group">
      <label for="inputfile" class="col-sm-2 control-label">商品图片：</label>
      <div class="col-sm-4">
         <input type="file" id="inputfile" multiple="multiple" accept="image/png,image/jpeg" ng-model='saleImg'>
      </div>
   </div>
   <!--  <div class="form-group">
      <label class="sr-only" for="inputfile">文件输入</label>
      <input type="file" id="inputfile">
   </div> -->
   <div class="form-group">
      <div class="col-sm-offset-5 col-sm-7">
         <button type="reset" class="btn btn-info" ng-click="initData()">清空</button>
         <button type="submit" class="btn btn-danger" ng-click="add()">上架</button>
      </div>
   </div>
</form>
</div>