<div>
  <table class="table">
   <caption style="color: red;font-size: 18px">我的购物车</caption>
   <thead>
      <tr>
         <th>商品名称</th>
         <th>商品单价</th>
         <th>数量</th>
         <th>小计</th>
         <!-- <th>商品单价</th> -->

      </tr>
   </thead>
   <tbody>
      <tr ng-repeat="sale in sales">
         <td>{{sale.name}}</td>
         <td>{{sale.price|currency:'￥'}}</td>
         <td style="    width: 300px;">
           <button class="btn btn-danger" ng-click="changeNum(2,$index)">-</button>
           <input class="form-control shooping-num-input" type="text" value="{{sale.count}}" disabled="true">
           <button class="btn btn-danger shooping-num-button" ng-click="changeNum(1,$index)">+</button></td>
         <td>{{sale.price*sale.count|currency:'￥'}}</td>
         <td><button class="btn btn-warning" ng-click="deleteSales($index)">删除</button></td>
      </tr>
     <!--  <tr>
         <td>Sachin</td>
         <td>{{500|currency:'￥'}}</td>
         <td><input type="text" value="2"></td>
         <td>{{500*2|currency:'￥'}}</td>
         <td><button class="btn btn-warning">删除</button></td>
          
      </tr> -->
   </tbody>
</table>
<div style="    text-align: right;
    margin-right: 300px;">
总计：{{Price|currency:'￥'}}
<button class="btn btn-danger" ui-sref="orderInfo">去结算</button>
  
</div>
</div>